

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero img{
  width: 100%;
  border-radius: 0;
}
img {
margin: 0 0 0 20px;
}
aside.right, aside.left {
  text-align: center; 
  float: inherit;
}

aside {
  margin-right: 24px;
}
